@use"../../assets/styles/mixin" as mixin;

footer {
    width: 100%;
    background-color: var(--primary);

    .footerContainer {
        padding: 3% 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .logoContainer {
            width: 20%;
            display: flex;
            justify-content: center;

            @include mixin.laptop {
                width: 10%;
            }

            @include mixin.tablet {
                width: 7%;
            }

            img {
                width: 25%;

                @include mixin.laptop {
                    width: 60%;
                }

                @include mixin.tablet {
                    width: 100%;
                }
            }
        }

        .footerCategory {
            width: 20%;
            color: var(--text-color-dark);
            font-size: 1.1rem;

            @include mixin.laptop {
                font-size: 1rem;
            }

            .footerTitle {
                font-family: var(--font-title);
                color: var(--text-color-dark);

                @include mixin.laptop {
                    font-size: 1.8rem;
                }
            }

            .footerLines {
                font-family: var(--font-family);
                padding-top: 1.5%;

                @include mixin.tablet {
                    font-size: .9rem;
                }
            }

            a {
                color: var(--text-color-dark);
                transition: .5s all;

                &:hover {
                    text-decoration: underline;
                }
            }

            .iconsContainer {
                padding-top: 1.5%;

                i {
                    padding-right: 5%;
                }
            }
        }
    }

    .legal {
        background-color: var(--secondary);
        font-family: var(--font-family);
        padding: 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .legalContent {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--text-color-light);

            p {
                font-size: 1rem;

                @include mixin.tablet {
                    font-size: .9rem;
                }
            }

            a {
                font-size: 1rem;
                color: var(--text-color-light);
                transition: .5s all;

                &:hover {
                    transform: scale(1.02);
                }
            }
        }
    }
}