section {
    padding-block: var(--padding-block-section);
    font-family: var(--font-family);
}

.sectionBrown {
    background-color: var(--secondary);
}

.currentRecipeContainer {
    padding: var(--padding-block-article);

    .currentRecipeTitle {
        color: var(--text-color-dark);
    }

    .lightTitle {
        color: var(--text-color-light);
        text-align: right;
        margin-bottom: 2%;
    }

    .flexContainer {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;

        .searchContainer {
            background-color: var(--primary);
            width: 25%;
            border-radius: var(--border-radius);
            padding: 2% 2%;

            .recipeNamesContainer {
                min-height: 500px;

                ul {
                    li {
                        button {
                            background: none;
                            border: none;
                            font-size: 1rem;
                            color: var(--text-color-dark);
                            font-family: var(--font-family);
                            margin-block: 1%;
                            cursor: pointer;
                        }
                    }
                }
            }

        }

    }
}