@use "../../assets/styles/mixin" as mixin;

section {
    padding-block: var(--padding-block-section);
    font-family: var(--font-family);
}

.sectionBrown {
    background-color: var(--secondary);
}

.currentRecipeContainer {
    padding: var(--padding-block-article);

    @include mixin.small-laptop {
        padding: 0;
    }

    .currentRecipeTitle {
        color: var(--text-color-dark);
    }

    .lightTitle {
        color: var(--text-color-light);
        text-align: right;
        margin-bottom: 2%;
    }

    .flexContainer {
        display: flex;
        justify-content: space-evenly;

        .searchContainer {
            background-color: var(--primary);
            width: 25%;
            border-radius: var(--border-radius);
            padding: 2% 2%;

            @include mixin.small-laptop {
                width: 30%;
            }

            .recipeNamesContainer {

                ul {
                    li {
                        button {
                            background: none;
                            border: none;
                            font-size: 1rem;
                            color: var(--text-color-dark);
                            font-family: var(--font-family);
                            margin-block: 1%;
                            cursor: pointer;
                            transition: .5s all;

                            &:hover {
                                transform: scale(1.05);
                            }
                        }
                    }
                }
            }

        }

    }
}