.chosenCategory {
    padding: var(--padding-block-article);
    display: flex;
    flex-direction: column;

    .chosenCategoryTitle {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 1.5rem;
        align-self: center;
        margin: 5% 0 3% 0;
    }

    .subContainerProfile {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .userInfoProfile {
            width: 50%;

            form {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 1rem;
                }

                input {
                    background-color: var(--text-color-light);
                    border: none;
                    border-radius: 2rem;
                    max-width: 60%;
                    padding: .25% 2%;
                    font-size: 1.2rem;
                    font-family: var(--font-family);
                }
            }

            .oneInfo {
                margin-block: 2%;
                font-size: 1.2rem;

                .lockedInfo {
                    background-color: var(--primary);
                    display: inline-block;
                    min-width: 60%;
                    border-radius: 2rem;
                    padding: .25% 2%;
                    color: var(--text-color-dark);
                    font-size: 1.2rem;
                }
            }

            .feedbackContainer {
                margin-top: 5%;
            }

            .buttonsContainer {
                margin-top: 5%;

                .modifyInfoButton {
                    margin-right: 2%;
                    padding: 1% 2%;
                    font-size: 1rem;
                    cursor: pointer;
                }
            }


        }

        .modifyProfileLine {
            width: .12rem;
            height: 15rem;
            background: linear-gradient(to top, #522525, #EAC4E0, #522525);
        }

        .favoriteRecipe {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}